<div class="sign-up mt-5">

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  　<div class="box rounded">
     <div class="box-in">
       <h2 class="text-center mb-3">新規登録</h2>
        <div class="field text-center">
          <%= f.text_field :name, autofocus: true , placeholder: 'お名前' %>
        </div>

        <div class="field text-center">
          <%= f.text_field :nickname, autofocus: true, placeholder: 'ニックネーム' %>
        </div>
        <div class="field text-center category">
          <%= f.radio_button :category, "先生" %>
          <%= f.label :category, "先生", value: "先生" %>
          <%= f.radio_button :category, "生徒" %>
          <%= f.label :category, "生徒", value: "生徒" %>
        </div>

        <div class="field text-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス' %>
        </div>

        <div class="field text-center">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード（6文字以上）' %>
        </div>

        <div class="field text-center">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード（確認用）' %>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit "新規登録", class: "login-btn" %>
        </div>
      </div>
    </div>
  <% end %>

<div class="mt-5"><%= render "devise/shared/links" %></div>
</div>