<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class = "text-center">
        <div class="card">
          <% case notification.action %>
          <% when "follow" then %>
            <p class = "pt-5">
              <%= link_to user_path(notification.visitor) do %>
                  <%= attachment_image_tag notification.visitor, :profile_image, :fill, 110, 110, fallback: "unnamed.png", size:'80', class: "prof_image" %>
                <% end %>
              <%= link_to notification.visitor.nickname, user_path(notification.visitor) %>さんがあなたをフォローしました。
            </p>
            <p class="small text-muted text-right"><%= time_ago_in_words(notification.created_at).upcase %></p>
          <% end %>
          <% case notification.action %>
          <% when "dm" then %>
            <p class = "pt-5">
              <%= link_to user_path(notification.visitor) do %>
                <%= attachment_image_tag notification.visitor, :profile_image, :fill, 110, 110, fallback: "unnamed.png", size:'80', class: "prof_image" %>
              <% end %>
              <%= link_to user_path(notification.visitor) do %>
                <%= notification.visitor.nickname %>さんがあなたにDMを送りました
              <% end %>
            </p>
            <p class="small text-muted text-right"><%= time_ago_in_words(notification.created_at).upcase %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>