<div class="container mypage-top">
  <div class="row">
    <div class="col-6 font-family">
      <% if @user.id == current_user.id %>
       <h2 class="heading user-head">マイページ</h2>
      <% else %>
       <h2 class="heading user-head"><%= @user.nickname %>さんのページ</h2>
      <% end %>
    </div>

    <div class="col-6 text-right">
        <% if @user.id == current_user.id %>
           <i class="fas fa-edit prof-edit"></i><%= link_to "プロフィール編集", edit_user_path(@user), class: "prof-edit" %>
        <% end %>
        <div class="row float-right">
          <div id="follow-btn">
            <%= render 'relationships/follow-btn', user: @user %>
          </div>
          <div>
            <% unless @user.id == current_user.id %>
              <% if @isRoom == true %>
                <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-outline-secondary dm">チャットへ</a></p>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める", class:"btn btn-outline-secondary user-show-chat dm" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="text-center">
      <%= attachment_image_tag @user, :profile_image, fallback: "unnamed.png", size:'300', class: "waku" %>
      <div>
      <% if @user.category == "先生" %>
       <h3 class="profile-name m-3 font-family myname"><%= @user.nickname %>(先生)</h3>
      <% else %>
       <h3 class="profile-name m-3 font-family"><%= @user.nickname %>(生徒)</h3>
      <% end %>
      </div>
    </div>
    <div class="introduction"><%= @user.introduction %></div>
    <div class="text-center mt-2 mb-2 prof-size">マイページに訪れてくれた人数<%=  @user.impressionist_count %>人</div>
    <div class="text-center">
      <% if @user.id == current_user.id %>
       <i class="far fa-comment-dots prof-size"></i><%= link_to "チャット履歴一覧へ", rooms_path, class: "text-dark" %>
      <% end %>
    </div>
    <div class="row follor">
      <div class="follow_count mr-5 prof-size">
        <%= link_to @user.followings.count, user_followings_path(@user) %>フォロー
      </div>
      <div class="follower_count prof-size">
        <%= link_to @user.followers.count, user_followers_path(@user) %>フォロワー
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="col-xs-offset-1 col-xs-10 hobby-delete" id="delete-btn">
    <%= render 'hobbies/hobby-delete', hobbies: @hobbies %>
  </div>
</div>