<div class="log-in">
  <div class="box-2 rounded">
      <h2 class="text-center mb-3">パスワードをお忘れですか?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <p class="text-center">アプリ内で使用しているメールアドレスを入力してください</p>
        <div class="field text-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス' %>
        </div>

        <div class="actions text-center m-4">
          <%= f.submit "パスワード再設定メールを送る" %>
        </div>
      <% end %>

      <div class="actions text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>