<% hobbies.each do |hobby| %>
          <div class="row">
            <div class="col-md-2 img-zone">
                <div class="img-zone">
                  <%= link_to user_path(hobby.user) do %>
                    <%= attachment_image_tag hobby.user, :profile_image, :fill, 110, 110, fallback: "unnamed.png", size:'110', class: "prof_image" %>
                  <% end %><br>
                  <span class="user-name"><%= hobby.user.nickname%></span>
                </div>
              </div>
              <div class="hobby col-md-2 hobby_name text-left">
                <div class="mx-auto" style="width: 210px;">
                  <p><span class="text-white px-2 py-1 mr-3 rounded-pill shadow bg-info">趣味名</span>　<%= hobby.name %></p>
                  <p><span class="text-white px-2 py-1 mr-3 rounded-pill shadow bg-warning">ジャンル</span><%= hobby.genre.name if hobby.genre %></p>
                </div>
              </div>
            <div class="col-md-8 row info">
                <p class="comment rounded comment-box ml-5"><%=safe_join(hobby.comment.split("\n"),tag(:br))%></p>
                <% if @user == current_user %>
                    <div class="mr-4 ml-3 mt-2 button">
                     <div><%= social_share_button_tag(hobby.comment) %></div>
                     <div><%= link_to "編集", edit_hobby_path(hobby.id), class:"btn btn-outline-primary editbtn" %></div>
                     <div><%= link_to "投稿を消す", hobby_path(hobby), class:"btn btn-outline-primary deletebtn", method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true %></div>
                    </div>
                <% end %>
            </div>
          </div>
        <hr class="hrup">
<% end %>