<div class="container">
  <div class="col-xs-offset-1 col-xs-10">
    <% hobbies.each do |hobby| %>
          <div class="row">
            <div class="col-2 text-center pt-3">
              <p>
                <%= link_to user_path(hobby.user) do %>
                  <%= attachment_image_tag hobby.user, :profile_image, :fill, 110, 110, fallback: "unnamed.png", size:'110', class: "prof_image" %>
                <% end %><br>
                <span class="prof_name"><%= hobby.user.nickname%></span>
              </p>
              </div>
              <div class="hobby col-3 hobby_name">
              <p><%= hobby.user.category %></p>
              <p>趣味名：<%= hobby.name %></p>
              <p>ジャンル：<%= hobby.genre.name if hobby.genre %></p>
              </div>
            <div class="col-6 pt-3">
              <p class="comment rounded comment-box"><%= hobby.comment %></p>
            </div>
          </div>
        <hr>
    <% end %>
  </div>
</div>