<div class="post-box container">
    <div class="hobby-post rounded col-xs-offset-2 col-xs-8 float-center">
        <h1>投稿する</h1>
        <%= form_with model: @hobby, local:true do |f| %>
          <div class="row m-4">
              <h4 class="col-5">趣味名</h4>
              <div><%= f.text_field :name %></div>
          </div>
          <div class="row m-4">
              <h4 class="col-5"><%= f.label :ジャンル %></h4>
              <%#= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
               <!--Button trigger modal-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
              選ぶ
            </button>

             <!--Modal-->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ジャンル一覧</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="music">音楽系</div>
                      <%= f.radio_button :genre_id, 1 %>
                      <%= f.label :genre, "楽器", value: "楽器" %>
                      <%= f.radio_button :genre_id, 2 %>
                      <%= f.label :genre, "音楽ライブ", value: "音楽ライブ" %>
                      <%= f.radio_button :genre_id, 3 %>
                      <%= f.label :genre, "カラオケ", value: "カラオケ" %>
                    <div class="view">鑑賞系</div>
                    <%= f.radio_button :genre_id, 4 %>
                      <%= f.label :genre, "アニメ", value: "アニメ" %>
                      <%= f.radio_button :genre_id, 5 %>
                      <%= f.label :genre, "漫画", value: "漫画" %>
                      <%= f.radio_button :genre_id, 6 %>
                      <%= f.label :genre, "映画", value: "映画" %>
                      <%= f.radio_button :genre_id, 7 %>
                      <%= f.label :genre, "天体観測", value: "天体観測" %>
                      <%= f.radio_button :genre_id, 8 %>
                      <%= f.label :genre, "歌舞伎", value: "歌舞伎" %>
                    <div class="health">美容・健康</div>
                      <%= f.radio_button :genre_id, 9 %>
                      <%= f.label :genre, "筋トレ", value: "筋トレ" %>
                      <%= f.radio_button :genre_id,10 %>
                      <%= f.label :genre, "ヨガ", value: "ヨガ" %>
                      <%= f.radio_button :genre_id, 11 %>
                      <%= f.label :genre, "アロマセラピー", value: "アロマセラピー" %>
                    <div class="trip">旅行・お出かけ</div>
                      <%= f.radio_button :genre_id, 12 %>
                      <%= f.label :genre, "温泉めぐり", value: "温泉めぐり" %>
                      <%= f.radio_button :genre_id, 13 %>
                      <%= f.label :genre, "美術館", value: "美術館" %>
                      <%= f.radio_button :genre_id, 14 %>
                      <%= f.label :genre, "博物館", value: "博物館" %>
                      <%= f.radio_button :genre_id, 15 %>
                      <%= f.label :genre, "寺めぐり", value: "寺めぐり" %>
                    <div class="sports">スポーツ系</div>
                      <%= f.radio_button :genre_id, 16 %>
                      <%= f.label :genre, "ランニング", value: "ランニング" %>
                      <%= f.radio_button :genre_id, 17 %>
                      <%= f.label :genre, "サッカー", value: "サッカー" %>
                      <%= f.radio_button :genre_id, 18 %>
                      <%= f.label :genre, "野球", value: "野球" %>
                      <%= f.radio_button :genre_id, 19 %>
                      <%= f.label :genre, "バスケットボール", value: "バスケットボール" %>
                      <%= f.radio_button :genre_id, 20 %>
                      <%= f.label :genre, "ゴルフ", value: "ゴルフ" %>
                      <%= f.radio_button :genre_id, 21 %>
                      <%= f.label :genre, "ボルダリング", value: "ボルダリング" %>
                      <%= f.radio_button :genre_id, 22 %>
                      <%= f.label :genre, "ダーツ", value: "ダーツ" %>
                      <%= f.radio_button :genre_id, 23 %>
                      <%= f.label :genre, "ダンス", value: "ダンス" %>
                      <%= f.radio_button :genre_id, 24 %>
                      <%= f.label :genre, "自転車", value: "自転車" %>
                    <div class="nature">自然・アウトドア系</div>
                      <%= f.radio_button :genre_id, 25 %>
                      <%= f.label :genre, "登山", value: "登山" %>
                      <%= f.radio_button :genre_id, 26 %>
                      <%= f.label :genre, "キャンプ", value: "キャンプ" %>
                      <%= f.radio_button :genre_id, 27 %>
                      <%= f.label :genre, "釣り", value: "釣り" %>
                    <div class="game">ゲーム・ボードゲーム</div>
                      <%= f.radio_button :genre_id, 28 %>
                      <%= f.label :genre, "テレビゲーム", value: "テレビゲーム" %>
                      <%= f.radio_button :genre_id, 29 %>
                      <%= f.label :genre, "トランプ", value: "トランプ" %>
                      <%= f.radio_button :genre_id, 30 %>
                      <%= f.label :genre, "将棋", value: "将棋" %>
                      <%= f.radio_button :genre_id, 31 %>
                      <%= f.label :genre, "囲碁", value: "囲碁" %>
                      <%= f.radio_button :genre_id, 32 %>
                      <%= f.label :genre, "チェス", value: "チェス" %>
                      <%= f.radio_button :genre_id, 33 %>
                      <%= f.label :genre, "オセロ　", value: "オセロ" %>
                      <%= f.radio_button :genre_id, 34 %>
                      <%= f.label :genre, "ボードゲーム", value: "ボードゲーム" %>
                      <%= f.radio_button :genre_id, 35 %>
                      <%= f.label :genre, "トレーディングカードゲーム", value: "トレーディングカードゲーム" %>
                    <h5 class="make">作る系</h5>
                      <%= f.radio_button :genre_id, 36 %>
                      <%= f.label :genre, "料理", value: "料理" %>
                      <%= f.radio_button :genre_id, 37 %>
                      <%= f.label :genre, "イラスト", value: "イラスト" %>
                      <%= f.radio_button :genre_id, 38 %>
                      <%= f.label :genre, "プラモデル", value: "プラモデル" %>
                      <%= f.radio_button :genre_id, 39 %>
                      <%= f.label :genre, "ハンドメイド", value: "ハンドメイド" %>
                    <div class="pets">ペット・育てる系</div>
                      <%= f.radio_button :genre_id, 40 %>
                      <%= f.label :genre, "園芸", value: "園芸" %>
                      <%= f.radio_button :genre_id, 41 %>
                      <%= f.label :genre, "観葉植物", value: "観葉植物" %>
                      <%= f.radio_button :genre_id, 42 %>
                      <%= f.label :genre, "アクアリウム", value: "アクアリウム" %>
                      <%= f.radio_button :genre_id, 43 %>
                      <%= f.label :genre, "ペット", value: "ペット" %>
                      <div class="skill">スキル系</div>
                      <%= f.radio_button :genre_id, 44 %>
                      <%= f.label :genre, "外国語", value: "外国語" %>
                      <%= f.radio_button :genre_id, 45 %>
                      <%= f.label :genre, "プログラミング", value: "プログラミング" %>
                      <%= f.radio_button :genre_id, 46 %>
                      <%= f.label :genre, "カメラ", value: "カメラ" %>
                      <%= f.radio_button :genre_id, 47 %>
                      <%= f.label :genre, "マジック", value: "マジック" %>
                    <div class="vehicle">乗り物系</div>
                      <%= f.radio_button :genre_id, 48 %>
                      <%= f.label :genre, "車", value: "車" %>
                      <%= f.radio_button :genre_id, 49 %>
                      <%= f.label :genre, "バイク", value: "バイク" %>
                    <div class="others">その他</div>
                      <%= f.radio_button :genre_id, 50 %>
                      <%= f.label :genre, "サバゲー", value: "サバゲー" %>
                      <%= f.radio_button :genre_id, 51 %>
                      <%= f.label :genre, "競馬", value: "競馬" %>
                      <%= f.radio_button :genre_id, 52 %>
                      <%= f.label :genre, "パチンコ", value: "パチンコ" %>
                      <%= f.radio_button :genre_id, 53 %>
                      <%= f.label :genre, "アイドル", value: "アイドル" %>
                      <%= f.radio_button :genre_id, 54 %>
                      <%= f.label :genre, "ドローン", value: "ドローン" %>
                      <%= f.radio_button :genre_id, 55 %>
                      <%= f.label :genre, "その他", value: "その他" %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">選択完了</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h4 class="row col-5">コメント</h4>
          <%= f.text_area :comment , size: "50x5" %>
          <%= f.submit '投稿' %>
        <% end %>
        </div>
    </div>
</div>