<% if @datas.empty? %>
  <h2 class="m-5">
     <% if @model == 'user' %>
       <div>該当する会員はいません</div>
     <% elsif @model == 'hobby' %>
       <div>趣味名が<span class="hobby-name"><%= @value %>はまだありません</div>
     <% else %>
       <div>趣味のジャンルが<span class="hobby-name"><%= @value %></span>の投稿はまだありません</div>
     <% end %>
 </h2>
<% else %>
    <div class="container back">
      <div class="col-xs-12 bg-mask">
         <h2 class="mb-5">
             <% if @model == 'user' %>
               <div>ニックネームに<span class="hobby-name"><%= @value %></span>を含む会員の投稿一覧</div>
             <% elsif @model == 'hobby' %>
               <div>趣味名が<span class="hobby-name"><%= @value %></span>の投稿一覧</div>
             <% else %>
               <div>趣味のジャンルが<span class="hobby-name"><%= @value %></span>の投稿一覧</div>
             <% end %>
         </h2>
        </div>
    </div>
    <%= render 'hobbies/index', hobbies: @datas %>
    <div class="page"><%= paginate @hobbies %></div>
<% end %>