<div class="container">
  <div class="col-11 text-center chat-all">
    <div class="ml-5" id="chatchatbox">
        <% if messages.present? %>
          <% messages.each do |m| %>
          <% if current_user.id == m.user.id %>
            <div class="text-right mr-5 mt-3">
              <%= m.created_at.strftime('%Y/%m/%d') %>
              <div class="right"><strong><%= m.content %></strong></div>
              <%= link_to user_path(m.user) do %>
               <%= attachment_image_tag m.user, :profile_image, fallback: "unnamed.png", size:'70', class:"pro_photo" %>
              <% end %>
              <div class="name"><%= m.user.nickname %></div>
            </div>
          <% else %>
             <div class="d-flex flex-row mt-3">
               <div>
                 <%= link_to user_path(m.user) do %>
                   <%= attachment_image_tag m.user, :profile_image, fallback: "unnamed.png", size:'70', class:"pro_photo" %>
                 <% end %>
                 <div><%= m.user.nickname %>さん</div>
               </div>
               <div class="chat-content">
                 <div class="left"><strong><%= m.content %></strong></div>
                 <%= m.created_at.strftime('%Y/%m/%d') %>
               </div>
             </div>
          <% end %>
          <% end %>
        <% else %>
          <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
    </div>
  </div>
</div>
<div class="ml-3 send-form">
    <%= form_with model: message do |f| %>
          <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70, class: "dm" %>
          <%= f.hidden_field :room_id, :value => room.id %>
          <%= f.button :type => "submit", class: "submit" do %>
           <i class="far fa-paper-plane"></i>
          <% end %>
        <% end %>
</div>