<div class="ml-5">
    <% if messages.present? %>
      <% messages.each do |m| %>
      <% if current_user.id == m.user.id %>
        <div class="text-right mr-5">
          <%= m.created_at.strftime('%Y/%m/%d') %>
          <div class="right"><strong><%= m.content %></strong></div>
          <%= attachment_image_tag m.user, :profile_image, fallback: "unnamed.png", size:'70', class:"pro_photo" %>
          <div class="name"><a href="/users/<%= m.user_id %>"><%= m.user.nickname %></a></div>
        </div>
        <% else %>
          <div class="mb-3">
            <div class="d-flex flex-column">
              <div><%= attachment_image_tag m.user, :profile_image, fallback: "unnamed.png", size:'70', class:"pro_photo" %></div>
              <div><a href="/users/<%= m.user_id %>"><%= m.user.nickname %>さん</a></div>
              <div class="left"><strong><%= m.content %></strong></div>
              <%= m.created_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
      <% end %>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>
</div>
<div class="ml-3 send-form">
    <%= form_with model: message do |f| %>
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70, class: "dm" %>
      <%= f.hidden_field :room_id, :value => room.id %>
      <%= f.button :type => "submit", class: "submit" do %>
       <i class="far fa-paper-plane"></i>
      <% end %>
    <% end %>
</div>