<div class="container">
  <h1 class="heading chathead">チャット履歴一覧</h1>
    <% @anotherEntries.each do |e| %>
    <div class="users-index col-md-6 col-md-offset-3">
      <table>
        <tr>
          <td class="user-left">
            <%= link_to user_path(e.user) do %>
              <%= attachment_image_tag e.user, :profile_image, fallback: "unnamed.png", size:'100', class:"pro_photo" %>
            <% end %>
          </td>
          <td class="user-right">
            <%= link_to room_path(e.room.id), class:"text-dark" do %>
              <i class="far fa-comments"></i><%= e.user.nickname %>さんとチャットをする<br>
            <% end %>
            <div class="text-muted">
             <%= e.room.messages.order(created_at: :desc).take.try(:content) %>
            </div><%#= e.room.messages.order(created_at: :desc).take.try(:created_at) %>
          </td>
        </tr>
      </table>
    </div>
    <% end %>
</div>