<div>
  <% @entries.each do |e| %>
    <% if current_user.id != e.user.id %>
      <h1 class="m-4 heading chathead"><strong><%= e.user.nickname %>さんとのチャット</strong></h1>
    <% end %>
  <% end %>
</div>
<hr>
<div id="chat">
  <div class="container">
    <div class="col-11 text-center chat-all">
      <div id="chatchatbox">
       <%= render partial: 'rooms/chat', locals:{ messages: @messages } %>
      </div>
    </div>
  </div>
  <div class="ml-3 send-form">
      <%= form_with model: @message do |f| %>
          <div class="chatbtnarea">
              <div>
                  <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" , size: "90x3", class: "dmbox" %>
              </div>
              <%= f.hidden_field :room_id, :value => @room.id %>
              <div>
                  <%= f.button :type => "submit", class: "chatsend ml-3" do %>
                   <i class="far fa-paper-plane"></i>
                  <% end %>
              </div>
          </div>
        <div class="back-btn2" data-turbolinks-action="replace">
          <%= link_to "#" do%>
           <i class="fas fa-angle-double-up"></i>
          <% end %>
        </div>
      <% end %>
      <i class="far fa-comment-dots prof-size"></i><%= link_to "チャット履歴一覧へ", rooms_path, class: "text-dark" %>
  </div>
</div>