<!DOCTYPE html>
<html>
  <head>
    <title>WinWinHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark  justify-content-end">
      <div>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
           <div class="row">
            <li class="nav-item active mr-3">
            <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
            </li>

            <li class="nav-item active mr-3">
            <%= link_to '投稿一覧', hobbies_path, class: "nav-link" %>
            </li>

            <li class="nav-item active mr-3">
              <%= link_to '投稿フォーム', new_hobby_path, class: "nav-link" %>
            </li>

            <li class="nav-item active mr-3">
              <%= link_to 'ジャンル一覧', genres_path, class: "nav-link" %>
            </li>

            <li class="nav-item active mr-3">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.text_field :value %>
              <%= f.select :model, options_for_select({ "User" => "user", "趣味名" => "hobby" }) %>
              <%#= :how, options_for_select({ "完全一致" => "perfect_match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical" }) %>
                <%= f.submit :"検索", class: "btn btn-primary" %>
            <% end %>
           </div>
          <% else %>
           <div class="row">
            <li class="nav-item active mr-3">
              <%= link_to "about", homes_about_path, class: "nav-link" %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
           </div>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
