<!DOCTYPE html>
<html>
  <head>
    <title>WinWinHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light mb-3 navhead">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% if !user_signed_in? %>
         <div class="logo-area"><%= link_to image_tag("logo.png", class: "logo"), "/"  %></div>
        <% else %>
         <div class="logo-area"><%= link_to image_tag("logo.png", class: "logo"), user_path(current_user.id) %><div>ようこそ、<%= current_user.nickname %>さん！</div></div>
        <% end %>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav font-family">
              <% if !user_signed_in? %>
                <li class="nav-item active">
                    <%= link_to "Win Win Hobbyとは?", homes_about_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item active">
                    <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item active pt-3 mr-3 top-header">
                    <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
                </li>
                <li class="nav-item active pt-3 mr-3 top-header">
                    <%= link_to '投稿フォーム', new_hobby_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown pt-3 top-header">
                  <label class=" dropdown-toggle nav-item active mr-3 mt-2" id="dropdownMenu1" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                    投稿一覧
                  </label>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                    <%= link_to '全投稿一覧', hobbies_path, class: "dropdown-item" %>
                    </li>
                    <li><%= link_to "先生側の投稿", hobbies_teacher_path, class: "dropdown-item" %></li>
                    <li><%= link_to "生徒側の投稿", hobbies_student_path, class: "dropdown-item" %></li>
                  </ul>
                </li>
                <li class="nav-item active pt-3 top-header">
                    <%= link_to 'ジャンル一覧検索', genres_path, class: "nav-link" %>
                </li>
                <li class="nav-item active pt-3 mr-3 top-header">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-danger" %>
                </li>
                <li class="nav-item active">
                  <%= form_with url:search_path, method: :get, local: true do |f| %>
                    <%= f.search_field :value, placeholder: "ニックネーム・趣味名", class: "rounded", required: true %><br>
                    <div class="mt-1">
                      <%= f.select :model, options_for_select({ "ニックネーム" => "user", "趣味名" => "hobby" }) %>
                      <%= f.button :type => "submit", class: "submit" do %>
                       <i class="fas fa-search fa-lg search"></i>
                      <% end %>
                    </div>
                 <% end %>
                </li>
              <% end %>
            </ul>
        </div>
    </nav>
    </header>
    <main class="mb-2">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
      <script src="https://unpkg.com/ityped@1.0.3"></script>
    </main>
  </body>
<footer class="mt-5 mb-1 fixed-bottom">
  <% if !user_signed_in? %>
   <div class="text-center"><%= link_to "お問い合わせ", new_contact_path , class: 'text-muted content-btn'%></div>
   <div class="text-center">©Win Win Hobby</div>
  <% end %>
</footer>
</html>
