<!DOCTYPE html>
<html>
  <head>
    <title>WinWinHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light  justify-content-end">
        <div>
          <ul class="navbar-nav ml-auto font-family">
            <% if user_signed_in? %>
             <div class="row">
              <li class="nav-item active mr-3">
              <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <label class=" dropdown-toggle nav-item active mr-3 mt-2" id="dropdownMenu1" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                  投稿一覧
                </label>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                  <%= link_to '全投稿一覧', hobbies_path, class: "dropdown-item" %>
                  </li>
                  <li><%= link_to "先生側の投稿", hobbies_teacher_path, class: "dropdown-item" %></li>
                  <li><%= link_to "生徒側の投稿", hobbies_student_path, class: "dropdown-item" %></li>
                </ul>
              </li>

              <li class="nav-item active mr-3">
                <%= link_to '投稿フォーム', new_hobby_path, class: "nav-link" %>
              </li>

              <li class="nav-item active mr-3">
                <%= link_to 'ジャンル一覧検索', genres_path, class: "nav-link" %>
              </li>

              <li class="nav-item active mr-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
              <%= form_with url:search_path, method: :get, local: true do |f| %>
                <%= f.text_field :value %>
                <%= f.select :model, options_for_select({ "ニックネーム" => "user", "趣味名" => "hobby" }) %>
                <%= f.submit :"検索", class: "btn btn-primary" %>
              <% end %>
             </div>
            <% else %>
             <div class="row">
              <li class="nav-item active mr-3">
                <%= link_to "about", homes_about_path, class: "nav-link" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
             </div>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mb-2">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </main>
  </body>
  <footer class="mb-3 fixed-bottom">
  <% if !user_signed_in? %>
   <div class="text-center"><%= link_to "お問い合わせ", new_contact_path , class: 'text-muted'%></div>
   <div class="text-center">©Win Win Hobby</div>
  <% end %>
</footer>
<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>
</html>
